.dialog {
  height: 20vh;
  width: 35vw;
  line-height: 100px;
  font-weight: bold;
  display: none;
  z-index: 1;
}

.dialog_error {
  @extend .dialog;
  color: white;
  background: $warn-color;
  text-align: center;
}
