<h1 class="header__logo">
  <a href="/" class="anchor-style-none">
    Particle Library
  </a>
</h1>
<ul> 
  <li>
    <h2><a href="/api" target="_blank">Api</a></h2>
  </li>
  <li>
    <h2><a href="/examples">Examples</a></h2>
  </li>
  <li>
    <h2><a href="/docs" target="_blank">Docs</a></h2>
  </li>
  <li>
    <h2><a href="/maths">Maths</a></h2>
  </li>
  {{#if showExamples}}
    {{> exampleList }}
  {{/if}}
</ul>
