<ul> 
  <li>
    <h2><a href="/api">Api</a></h2>
  </li>
  <li>
    <h2><a href="/examples">Examples</a></h2>
  </li>
  <li>
    <h2><a href="/docs">Docs</a></h2>
  </li>
  <li>
    <h2><a href="/maths">Maths</a></h2>
  </li>
  show Examples: {{showExampleList}}
  {{#if showExampleList}}
    {{> exampleList }}
  {{/if}}
</ul>
