<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Particle examples</title>
  <link rel="stylesheet" href="public/build/css/main.css"></link>
  <script src="public/build/js/bundle.js"></script>
</head>
<body>
  <div class="wrapper__page">
    <nav class="navigation__main padded">
      {{> navigation .}}  
    </nav>
    <div class="wrapper__content">
      <div class="dialog_error"></div>
      {{{ body }}}
    </div>
  </div>
</body>
</html>
