<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Particle examples</title>
  <script src="build/vendor/particle_lib.js"></script>
  <script src="build/app.js"></script>
</head>
<body> 
  <h1>Particle Library Examples</h1>
  <a href="/">Home</a>
  {{{ body }}}
</body>
</html>
