<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Particles</title>
  <script src="vendor/particle_lib.js"></script>
  <script src="js/fetchExample.js"></script>
</head>
<body> 
  <h1>Particle Library</h1>
  <a href="/home">Home</a>
  {{{ body }}}
</body>
</html>
