
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="public/build/js/bundle.js"></script>
  <title>Particles</title>
</head>
<body> 
  <h1>Particle Library</h1>
  {{> navigation showExampleList=./showExampleList}}
  {{{ body }}}
</body>
</html>
