<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <link rel="stylesheet" href="public/build/css/main.css"></link>
  <script src="public/build/js/bundle.js"></script>
  <title>Particles</title>
</head>
<body>
  <div class="wrapper__page">
    <nav class="navigation__main padded">
      {{> navigation .}}  
    </nav>
    {{{ body }}}
  </div>
</body>
</html>
