
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="public/build/css/main.css"></link>
  <script src="public/build/js/bundle.js"></script>
  <title>Particles</title>
</head>
<body>
  <div class="wrapper__page">
    <nav class="navigation__main">
      <h1 class="header__main">Particle Library</h1>
      {{> navigation showExampleList=./showExampleList}}  
    </nav>
    {{{ body }}}
  </div>
</body>
</html>
