<div class="wrapper__content">
  <section class="row__vertical content-block__large border">

    <h2 class="header__medium">What is particleLib?</h2>
    <div class="content-block">
      ParticleLib is a light weight utility library with basic vector functions, and basic physics functions. Theres isn't a whole lot of complexity to it. These docs may change due to the constant progress that will be happening to this library.
    </div>

    <h2 class="header__medium">Why particleLib?</h2>
    <div class="content-block">
      ParticleLib is mainly a hobby of mine. I always liked animations and wanted to dive deeper into how they worked on a more granular level. This project will likely fork into a deeper dive into a 3D library utilizing more of the lower level WebGL API that's available in most browsers.
    </div>

    <h2 class="header__medium">Getting Started</h2>
    <div class="content-block">
      To get started with <span class="important">particleLib</span> just follow these few steps.
    </div>

    <h2 class="header__medium">Instructions: </h2>
    <div class="content-block">
      <code>npm install</code>
    </div>

  </section>
</div>
