.row,
%row {
  display: flex;
  width: 100%;
}

.row__centered 
%row__centered {
  @extend %row;
  max-width: 740px;
  margin: 0 auto;
}

.row__vertical,
%row__vertical {
  @extend %row;
  flex-direction: column;
}

.column,
%column {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
}

.column__big,
%column__big {
  flex-grow: 9;
  flex-shrink: 9;
  flex-basis: 0px;
}
