.wrapper__content {
  display: flex;
  position: relative;
  @extend %column__big;
  flex-direction: row;
}

.wrapper__dialog {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.wrapper__page {
  overflow-y: hidden;
  display: flex;
  max-height: 100vh;
  height: 100vh;
}

.wrapper__frame {
  @extend .wrapper__content;
  height: 100vh;

  iframe {
    @extend .wrapper__frame;
    border: none;
  }
}

.wrapper__error {
  display: none;
  height: 0;
  width: 0;

  #error {
    display: none;
    height: 0;
    width: 0;    
  }
}
