.wrapper__content {
  display: flex;
  @extend %column__big;
}

.wrapper__page {
  display: flex;
  max-height: 100vh;
  height: 100vh;
}

.wrapper__frame {
  @extend .wrapper__content;
  height: 100vh;

  iframe {
    @extend .wrapper__frame;
    border: none;
  }
}
